<header class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <div class="navbar-header">
                <!-- <a class="navbar-brand" href="/dashboard"><span class="white">Ai</span><span class="blue">POD</span></a> -->
                <span class="d-none d-sm-inline"><b>&copy; AiPOD 2019</b> </span>
            </div>
            <div class="right-menu list-inline no-margin-bottom">
                <div class="list-inline-item logout">
                    <a id="logout" [routerLink]="['/add']" class="nav-link">
                        <span class="d-none d-sm-inline"><b>Face Registry</b> </span></a>
                </div>
                <div class="list-inline-item logout">
                    <a id="logout" href="login.html" class="nav-link">
                        <span class="d-none d-sm-inline"><b>Weapons Registry</b> </span></a>
                </div>
                <div class="list-inline-item logout">
                    <a id="logout" href="login.html" class="nav-link">
                        <span class="d-none d-sm-inline"><b>Vehicle Registry</b> </span></a>
                </div>
                <!-- <div class="list-inline-item logout">
                    <a id="webcam" [routerLink]="['/webcam']" class="nav-link">
                        <span class="d-none d-sm-inline"><b>Webcam Mode</b> </span></a>
                </div> -->
                <div class="list-inline-item logout">
                    <a id="webcam" [routerLink]="['/webcam']" class="nav-link">
                        <span class="d-none d-sm-inline"><b>Camera Feed Management</b> </span></a>
                </div>
                <div class="list-inline-item logout">
                    <a id="webcam" [routerLink]="['/webcam']" class="nav-link">
                        <span class="d-none d-sm-inline"><b>Incidents Management</b> </span></a>
                </div>
                <!-- <div class="list-inline-item logout">
                    <a id="logout" [routerLink]="['/login']" class="nav-link">
                        <span class="d-none d-sm-inline"><b>Logout</b> </span></a>
                </div> -->
            </div>
        </div>
    </nav>
</header>