<div class="middle">
    <div class="rectangle rectangle--middle">
      <div class="thumb thumb--middle">
        <!-- <div id="def-video" style='width: 640px; height: 485px; margin-left: auto; margin-right: auto'> -->
          <!-- <video class="cam_video" id="me" controls autoplay #me></video> -->
        <!-- </div> -->
      </div>
      <div class="nav-box--middle">
        <ul class="nav">
          <li id="mode3" class=" nav-icon mode_select" data-mode=3>
            <span class="fa fa-users"></span>
            <span class="label">Face</span>
          </li>

          <li id="mode4" class=" nav-icon mode_select" data-mode=4>
            <span class="fa fa-taxi"></span>
            <span class="label">Vehicle</span>
          </li>

          <li id="mode5" class=" nav-icon mode_select" data-mode=5>
            <span class="fa fa-cube"></span>
            <span class="label">Objects</span>
          </li>

          <li id = "emotion-icon" class="nav-icon" onclick=" onStart(); location.href='/emotions'">
            <i class="fas fa-smile-beam"></i>
            <span class="label">Emotions</span>
          </li>
        </ul>
      </div>
    </div>
  </div>