<!-- <div class="right">
    <div class="rectangle rectangle--right" style="background: transparent">
        <div id="emotions-panel-top" class="emotions_panel_sec">
        </div>
        <div class="padding--right panel_sec" style="background: #454b61; border-radius: 2px">
            <div id="info-panel-top">
                <video class="cam_video" id="me" controls autoplay #me></video>
            </div>
        </div>
    </div>
</div> -->


<!-- <video class="cam_video" id="me" controls autoplay #me></video> -->

<div class="rectangle rectangle--right">
    <div class="padding--right">
        <div class="person-info">
            <div class="person-id">
                <div class="thumb thumb-pic">
                    <img class="thumb-img thumb-img--pic" src="./assets/img/placeholder.jpg" alt="Picture">
                </div>
                <button class="id"><span class="icon-id"></span></button>
            </div>
            <div class="person-details">
                <div class="label label--person">Name:</div>
                <div class="detail">Detecting..</div>
                <div class="label label--person">Family Name:</div>
                <div class="detail">Detecting..</div>
                <div class="label label--person">Gender:</div>
                <div class="detail">Detecting..</div>
                <div class="label label--person">Date Of Birth:</div>
                <div class="detail">Detecting..</div>
                <div class="label label--person">Nationality:</div>
                <div class="detail">Detecting..</div>
                <div class="label label--person">Distinguishing Marks:</div>
                <div class="detail">Detecting..</div>
                <div class="label label--person">Expiry Date:</div>
                <div class="detail">Detecting..</div>
            </div>
        </div>
        <div class="btn btn-danger mt-2 mb-4 w-100">Wanted</div>
        <div class="person-info">
            <!-- <div class="person-id">
                <div class="thumb thumb-pic">
                    <img class="thumb-img" src="./assets/img/haris.JPG" alt="Picture">
                </div>
            </div> -->
            <div class="person-details">
                <div class="label label--person">Height</div>
                <div class="detail">Detecting..</div>
                <div class="label label--person">Height</div>
                <div class="detail">Detecting..</div>
                <div class="label label--person">Colour of hair</div>
                <div class="detail">Detecting..</div>
                <div class="label label--person">Colour of eyes</div>
                <div class="detail">Detecting..</div>
                <div class="label label--person">Languages Spoken</div>
                <div class="detail">Detecting..</div>
                <div class="label label--person">Charges</div>
                <div class="detail">On Request</div>
            </div>
        </div>
    </div>
</div>
