<!-- <div class="right">
    <div class="rectangle rectangle--right" style="background: transparent">
        <div id="emotions-panel-top" class="emotions_panel_sec">
        </div>
        <div class="padding--right panel_sec" style="background: #454b61; border-radius: 2px">
            <div id="info-panel-top">
                <video class="cam_video" id="me" controls autoplay #me></video>
            </div>
        </div>
    </div>
</div> -->


<!-- <video class="cam_video" id="me" controls autoplay #me></video> -->

<div class="rectangle rectangle--right">
    <div class="padding--right">
        <div class="person-info">
            <div class="person-id">
                <div class="thumb thumb-pic">
                    <img class="thumb-img thumb-img--pic" src="./assets/img/haris.JPG" alt="Picture">
                </div>
                <button class="id"><span class="icon-id"></span></button>
            </div>
            <div class="person-details">
                <div class="label label--person">Name:</div>
                <div class="detail">Haris A V</div>
                <div class="label label--person">Country:</div>
                <div class="detail">United Arab Emirates</div>
                <div class="label label--person">Expiry Date:</div>
                <div class="detail">7 June 2020</div>
            </div>
        </div>
        <div class="btn btn-danger mt-2 mb-4 w-100">Wanted</div>
        <div class="person-info">
            <div class="person-id">
                <div class="thumb thumb-pic">
                    <img class="thumb-img" src="./assets/img/haris.JPG" alt="Picture">
                </div>
            </div>
            <div class="person-details">
                <div class="label label--person">Coordinates:</div>
                <div class="detail">25.2048° N, 55.2708° E</div>
                <div class="label label--person">Location:</div>
                <div class="detail detail--upper">Absconding</div>
            </div>
        </div>
    </div>
</div>
