<app-header></app-header>

<body>
    <div class="main-wrapper">
        <div class="container-fluid">
            <div class="row main-row">
                <div class="col-lg-3 col-md-3 mt-3 pl-0 full-screen-auto">
                    <app-camera-list></app-camera-list>
                </div>
                <div class="col-lg-5 col-md-5 px-lg-3 px-sm-0 mt-3 full-screen-auto hidden-scrolled">
                    <div class="user-block block text-center">
                        <div class="right-menu list-inline no-margin-bottom align-items-center justify-content-between">
                            <div class="list-inline-item">
                                <a (click)="onObjectButton()" class="nav-link">
                                    <span class="d-none d-sm-inline"><b>Objects</b> </span></a>
                            </div>
                            <div class="list-inline-item">
                                <a (click)="onFaceButton()" class="nav-link">
                                    <span class="d-none d-sm-inline"><b>Face</b> </span></a>
                            </div>
                            <div class="list-inline-item">
                                <a [routerLink]="['/webcam']" class="nav-link">
                                    <span class="d-none d-sm-inline"><b>Vehicles</b> </span></a>
                            </div>
                            <div class="list-inline-item">
                                <a [routerLink]="['/webcam']" class="nav-link">
                                    <span class="d-none d-sm-inline"><b>Emotions</b> </span></a>
                            </div>
                            <div class="progress progress-template progress-small">
                                <div role="progressbar" style="width: 100%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template progress-bar-small dashbg-3"></div>
                            </div>
                        </div>
                        <div class="rectangle rectangle--middle">
                            <div class="thumb thumb--middle">
                                <div id="def-video" class="def-video">
                                    <video class="rounded centered hide" id="vidwebcam" autoplay muted width="640" height="475"></video>
                                    <canvas id="canvaswebcam"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-block block text-center full-screen-auto">
                        <app-map></app-map>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 mt-3 full-screen-auto">
                    <div class="right">
                        <!-- <app-face-alert></app-face-alert> -->
                        <!-- <div class="row" *ngIf="!customers"> -->
                            <div class="col-12 col-md-12 pr-0 pl-2" *ngFor="let face of detected_faces.slice().reverse()">

                                <div class="public-user-block block">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-lg-12 d-flex align-items-center">
                                            <a href="#" class="name ml-4 mt-2"><strong class="d-block mt-2" style='color: crimson' *ngIf = "face.wantedStatus ; else elseBlock">Wanted</strong><ng-template #elseBlock><strong class="d-block" style='color: darkgreen'>Clear</strong></ng-template></a>
                                        </div>
                                        <div class="col-lg-12 d-flex align-items-center mt-4">
                                            <div class="ml-4 mr-2"> <img src="{{face.photo}}" alt="..." class="img-fluid" width="80px"></div><a href="#" class="name"><strong class="d-block">{{face.firstName}}</strong><strong class="d-block">{{face.lastName}}</strong><span class="d-block">{{face.nationality}}</span></a>
                                        </div>
                                        <br>
                                        <div class="col-lg-12 d-flex align-items-center">
                                            <a href="#" class="name ml-4 mt-2"><span class="d-block">Gender : {{face.gender}}</span> <span class="d-block mt-2">Date of Birth : {{face.dateOfBirth}}</span></a>
                                        </div>
                                        <div class="col-lg-12 d-flex align-items-center">
                                            <a href="#" class="name ml-4 mt-2"><span class="d-block">Place of Birth : {{face.placeOfBirth}}</span></a>
                                        </div>
                                        <!-- <div class="col-lg-12 d-flex align-items-center">
                                            <a href="#" class="name ml-4 mt-3"><strong class="d-block mt-3" style='color: crimson' *ngIf = "face.wantedStatus ; else elseBlock">Wanted</strong><ng-template #elseBlock><strong class="d-block" style='color: darkgreen'>Clear</strong></ng-template></a>
                                        </div> -->
                                        <div class="col-lg-12 d-flex align-items-center">
                                            <a href="#" class="name ml-4 mt-2"><span class="d-block">Wanted By : {{face.wantedBy}}</span><span class="d-block mt-2 mb-3">Charge : {{face.charge}}</span></a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        <!-- </div> -->
                        <!-- <div class="row" *ngIf="customers">
                            <div class="col-12 col-md-12 pr-0 pl-2" *ngFor="let customer of customers">
                                <app-customer-details [customer]='customer'></app-customer-details>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mt-3 full-screen-auto">
                    <div class="right">
                        <!-- <app-face-alert></app-face-alert> -->
                        <div class="row">
                            <div class="col-12 col-md-12 pr-0 pl-2">
                                <div class="messages-block block">
                                    <!-- <div class="title"><strong>New Messages</strong></div> -->
                                    <div class="messages">
                                        <a href="#" class="message d-flex align-items-center" *ngFor="let detection of detected_objects.slice().reverse()">
                                            <div class="profile">
                                                <img src="/assets/img/target.png" alt="..." class="img-fluid" width="50px" height="50px">
                                            </div>
                                            <div class="content "> <strong class="d-block ">{{detection.objectDetected}}</strong><span class="d-block ">{{detection.confidence}} %</span><small class="date d-block ">{{detection.timeFrame}}</small></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <app-header2></app-header2>
</body>