<app-header></app-header>

<body>
    <div class="main-wrapper">
        <div class="container-fluid">
            <div class="content row main-row">
                <div class="col-lg-3 col-md-3 mt-4 pl-0">
                    <app-camera-list></app-camera-list>
                </div>
                <div class="col-lg-5 col-md-5 px-lg-3 px-sm-0 mt-3">
                    <div class="">
                        <div class="rectangle rectangle--middle">
                            <div class="thumb thumb--middle">
                                <div id="def-video" class="def-video">
                                    <div id="stream">
                                        <video class="rounded centered hide" id="remotevideo" autoplay muted width="640" height="480" codedo="1"></video>
                                    </div>
                                    <canvas id="canvas"></canvas>
                                </div>
                            </div>
                            <div class="nav-box--middle">
                                <ul class="nav">
                                    <li id="mode5" class=" nav-icon mode_select" data-mode=5 (click)="onObjectButton()">
                                        <span class="icon-objects"></span>
                                        <span class="label">Objects</span>
                                    </li>

                                    <li id="mode3" class=" nav-icon mode_select" data-mode=3 (click)="onFaceButton()">
                                        <span class="icon-people"></span>
                                        <span class="label">Face</span>
                                    </li>

                                    <li id="mode4" class=" nav-icon mode_select" data-mode=4>
                                        <span class="icon-cars"></span>
                                        <span class="label">Vehicle</span>
                                    </li>

                                    <li id="emotion-icon" class="nav-icon" onclick=" onStart(); location.href='/emotions'">
                                        <i class="fas fa-smile-beam"></i>
                                        <span class="label">Emotions</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="rectangle rectangle--camera" style="margin-bottom: 70px;">
                        <div class="row mx-0 w-100">
                            <div class="col-lg-8 p-0 thumb thumb--map">
                                <div class="tab-header">
                                    <div class="tab-header-item tab-br active pd">
                                        Map
                                    </div>
                                    <div class="tab-header-item pd">
                                        Analytics
                                    </div>
                                </div>
                                <!-- /.tab-header -->
                                <img class="thumb-img thumb-img--map" src="img/map2.png" alt="">
                                <div class="zoom">
                                    <div class="control">
                                        <div class="icon-plus"></div>
                                    </div>
                                    <div class="control">
                                        <div class="icon-minus"></div>
                                    </div>
                                </div>
                                <!-- /.zoom buttons -->
                                <div class="dot dot-1">
                                    <div class="outer">
                                        <div class="inner">
                                            <div class="core"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot dot-2">
                                    <div class="outer">
                                        <div class="inner">
                                            <div class="core"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot dot-3">
                                    <div class="outer">
                                        <div class="inner">
                                            <div class="core"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot dot-4">
                                    <div class="outer">
                                        <div class="inner">
                                            <div class="core"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot dot-5">
                                    <div class="outer outer--red">
                                        <div class="inner inner--red">
                                            <div class="core core--red"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col map-->
                            <div class="col-lg-4 p-0 nav--camera">
                                <ul class="nav-list scroll-camera">
                                    <li class="nav-list-item">
                                        <div class="detail">
                                            Vehicle
                                        </div>
                                        <div class="percentage">96%</div>
                                    </li>
                                    <!-- /.nav list-iem -->
                                    <li class="nav-list-item">
                                        <div class="detail">
                                            Person
                                        </div>
                                        <div class="percentage">70%</div>
                                    </li>
                                    <!-- /.nav list-iem -->
                                    <li class="nav-list-item">
                                        <div class="detail">
                                            Laptop
                                        </div>
                                        <div class="percentage percentage--red">12%</div>
                                    </li>
                                    <!-- /.nav list-iem -->
                                    <li class="nav-list-item">
                                        <div class="detail">
                                            Gun
                                        </div>
                                        <div class="percentage">74%</div>
                                    </li>
                                    <!-- /.nav list-iem -->
                                    <li class="nav-list-item">
                                        <div class="detail">
                                            Pistol
                                        </div>
                                        <div class="percentage">99%</div>
                                    </li>
                                    <!-- /.nav list-iem -->
                                    <li class="nav-list-item">
                                        <div class="detail">
                                            Car
                                        </div>
                                        <div class="percentage">10%</div>
                                    </li>
                                    <!-- /.nav list-iem -->
                                    <li class="nav-list-item">
                                        <div class="detail">
                                            Vehicle
                                        </div>
                                        <div class="percentage percentage--red">96%</div>
                                    </li>
                                    <!-- /.nav list-iem -->
                                    <li class="nav-list-item">
                                        <div class="detail">
                                            Vehicle
                                        </div>
                                        <div class="percentage percentage--red">96%</div>
                                    </li>
                                    <!-- /.nav list-iem -->
                                    <li class="nav-list-item">
                                        <div class="detail">
                                            Vehicle
                                        </div>
                                        <div class="percentage percentage--red">96%</div>
                                    </li>
                                    <!-- /.nav list-iem -->
                                    <li class="nav-list-item">
                                        <div class="detail">
                                            Vehicle
                                        </div>
                                        <div class="percentage percentage--red">96%</div>
                                    </li>
                                    <!-- /.nav list-iem -->

                                </ul>
                                <!-- /.nav list -->
                            </div>
                            <!-- /.col cameras -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.regtangle cameras -->
                </div>
                <!-- /.col -->
                <div class="col-lg-4 col-md-4 mt-3">
                    <div class="right">
                        <!-- <app-face-alert></app-face-alert> -->
                        <div class="rectangle rectangle--right margin-bottom-5">
                            <div class="padding--right">
                                <div class="person-info">
                                    <div class="col-md-4 person-details">
                                        <div class="label label--person">Name:</div>
                                        <div class="detail">{{detail.first_name}}</div>
                                        <div class="label label--person">Family Name:</div>
                                        <div class="detail">{{detail.last_name}}</div>
                                        <div class="label label--person">Gender:</div>
                                        <div class="detail">{{detail.gender}}</div>
                                        <div class="label label--person">Date Of Birth:</div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="person-id">
                                            <div class="thumb thumb-pic">
                                                <img class="thumb-img thumb-img--pic" src="{{photo}}" alt="Picture">
                                            </div>
                                            <button class="id"><span class="icon-id"></span></button>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="detail">{{detail.dob}}</div>
                                        <div class="label label--person">Nationality:</div>
                                        <div class="detail">{{detail.nationality}}</div>
                                        <div class="label label--person">Distinguishing Marks:</div>
                                        <div class="detail"></div>
                                        <div class="label label--person">Expiry Date:</div>
                                        <div class="detail"></div>

                                    </div>
                                </div>
                                <div class="btn btn-danger mt-2 mb-4 w-100">Wanted</div>
                                <div class="person-info">
                                </div>
                            </div>
                        </div>

                        <div class="rectangle rectangle--right margin-bottom-5">
                            <div class="padding--right">
                                <div class="person-info">
                                    <div class="col-md-4 person-details">
                                        <div class="label label--person">Name:</div>
                                        <div class="detail">{{detail.first_name}}</div>
                                        <div class="label label--person">Family Name:</div>
                                        <div class="detail">{{detail.last_name}}</div>
                                        <div class="label label--person">Gender:</div>
                                        <div class="detail">{{detail.gender}}</div>
                                        <div class="label label--person">Date Of Birth:</div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="person-id">
                                            <div class="thumb thumb-pic">
                                                <img class="thumb-img thumb-img--pic" src="{{photo}}" alt="Picture">
                                            </div>
                                            <button class="id"><span class="icon-id"></span></button>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="detail">{{detail.dob}}</div>
                                        <div class="label label--person">Nationality:</div>
                                        <div class="detail">{{detail.nationality}}</div>
                                        <div class="label label--person">Distinguishing Marks:</div>
                                        <div class="detail"></div>
                                        <div class="label label--person">Expiry Date:</div>
                                        <div class="detail"></div>

                                    </div>
                                </div>
                                <div class="btn btn-danger mt-2 mb-4 w-100">Wanted</div>
                                <div class="person-info">
                                </div>
                            </div>
                        </div>
                        <div class="rectangle rectangle--right margin-bottom-5">
                            <div class="padding--right">
                                <div class="person-info">
                                    <div class="col-md-4 person-details">
                                        <div class="label label--person">Name:</div>
                                        <div class="detail">{{detail.first_name}}</div>
                                        <div class="label label--person">Family Name:</div>
                                        <div class="detail">{{detail.last_name}}</div>
                                        <div class="label label--person">Gender:</div>
                                        <div class="detail">{{detail.gender}}</div>
                                        <div class="label label--person">Date Of Birth:</div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="person-id">
                                            <div class="thumb thumb-pic">
                                                <img class="thumb-img thumb-img--pic" src="{{photo}}" alt="Picture">
                                            </div>
                                            <button class="id"><span class="icon-id"></span></button>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="detail">{{detail.dob}}</div>
                                        <div class="label label--person">Nationality:</div>
                                        <div class="detail">{{detail.nationality}}</div>
                                        <div class="label label--person">Distinguishing Marks:</div>
                                        <div class="detail"></div>
                                        <div class="label label--person">Expiry Date:</div>
                                        <div class="detail"></div>

                                    </div>
                                </div>
                                <div class="btn btn-danger mt-2 mb-4 w-100">Wanted</div>
                                <div class="person-info">
                                </div>
                            </div>
                        </div>
                        <div class="rectangle rectangle--right margin-bottom-5">
                            <div class="padding--right">
                                <div class="person-info">
                                    <div class="col-md-4 person-details">
                                        <div class="label label--person">Name:</div>
                                        <div class="detail">{{detail.first_name}}</div>
                                        <div class="label label--person">Family Name:</div>
                                        <div class="detail">{{detail.last_name}}</div>
                                        <div class="label label--person">Gender:</div>
                                        <div class="detail">{{detail.gender}}</div>
                                        <div class="label label--person">Date Of Birth:</div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="person-id">
                                            <div class="thumb thumb-pic">
                                                <img class="thumb-img thumb-img--pic" src="{{photo}}" alt="Picture">
                                            </div>
                                            <button class="id"><span class="icon-id"></span></button>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="detail">{{detail.dob}}</div>
                                        <div class="label label--person">Nationality:</div>
                                        <div class="detail">{{detail.nationality}}</div>
                                        <div class="label label--person">Distinguishing Marks:</div>
                                        <div class="detail"></div>
                                        <div class="label label--person">Expiry Date:</div>
                                        <div class="detail"></div>

                                    </div>
                                </div>
                                <div class="btn btn-danger mt-2 mb-4 w-100">Wanted</div>
                                <div class="person-info">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>


        </div>

    </div>
    <app-footer></app-footer>

</body>
