      <div class="nav-list accordion">
        <div class="camera-card active">
          <div class="nav-icon nav-icon--camera card-header" id="headingOne" data-toggle="collapse"
            data-target="#cameraOne" aria-expanded="false" aria-controls="headingOne">
            <i class="arrow fas fa-chevron-down"></i>
            <div class="icon-box">
              <span class="icon-camera"></span>
            </div>
            <div class="info-box">
              <span class="label label--camera">Camera 1</span>
              <div class="location" id="camera_1">
                <!-- {{cameras[0].ip_address|truncate(25)}} -->
              </div>
            </div>
          </div>
          <div id="cameraOne" class="collapse" aria-labelledby="headingOne">
            <div class="card-body">
              <a class="btn btn-secondary" href="/camera1"> Connect</a>
              <button class="btn btn-dark" data-toggle="modal" data-target="#addCamera1"><i
                  class="fas fa-cog"></i></button>
            </div>
          </div>
        </div>
        <div class="camera-card">
          <div class="nav-icon nav-icon--camera card-header" id="headingTwo" data-toggle="collapse"
            data-target="#cameraTwo" aria-expanded="false" aria-controls="headingTwo">
            <i class="arrow fas fa-chevron-down"></i>
            <div class="icon-box">
              <span class="icon-camera"></span>
            </div>
            <div class="info-box">
              <span class="label label--camera">Camera 2</span>
              <div class="location" id="camera_2">
                <!-- {{cameras[1].ip_address|truncate(25)}} -->
              </div>
            </div>
          </div>
          <div id="cameraTwo" class="collapse" aria-labelledby="headingTwo">
            <div class="card-body">
              <a class="btn btn-secondary" href="/camera2"> Connect</a>
              <button class="btn btn-dark" data-toggle="modal" data-target="#addCamera2"><i
                  class="fas fa-cog"></i></button>
            </div>
          </div>
        </div>
        <div class="camera-card">
          <div class="nav-icon nav-icon--camera card-header" id="headingThree" data-toggle="collapse"
            data-target="#cameraThree" aria-expanded="false" aria-controls="headingThree">
            <i class="arrow fas fa-chevron-down"></i>
            <div class="icon-box">
              <span class="icon-camera"></span>
            </div>
            <div class="info-box">
              <span class="label label--camera">Camera 3</span>
              <div class="location" id="camera_3">
                <!-- {{cameras[2].ip_address|truncate(25)}} -->
              </div>
            </div>
          </div>
          <div id="cameraThree" class="collapse" aria-labelledby="headingThree">
            <div class="card-body">
              <a class="btn btn-secondary" href="/camera3"> Connect</a>
              <button class="btn btn-dark" data-toggle="modal" data-target="#addCamera3"><i
                  class="fas fa-cog"></i></button>
            </div>
          </div>
        </div>
        <div class="camera-card">
          <div class="nav-icon nav-icon--camera card-header" id="headingFour" data-toggle="collapse"
            data-target="#cameraFour" aria-expanded="false" aria-controls="headingFour">
            <i class="arrow fas fa-chevron-down"></i>
            <div class="icon-box">
              <span class="icon-camera"></span>
            </div>
            <div class="info-box">
              <span class="label label--camera">Camera 4</span>
              <div class="location" id="camera_4">
                <!-- {{cameras[3].ip_address|truncate(25)}} -->
              </div>
            </div>
          </div>
          <div id="cameraFour" class="collapse" aria-labelledby="headingFour">
            <div class="card-body">
              <a class="btn btn-secondary" href="/camera4"> Connect</a>
              <button class="btn btn-dark" data-toggle="modal" data-target="#addCamera4"><i
                  class="fas fa-cog"></i></button>
            </div>
          </div>
        </div>
        <div class="camera-card">
          <div class="nav-icon nav-icon--camera card-header" id="headingFive" data-toggle="collapse"
            data-target="#cameraFive" aria-expanded="false" aria-controls="headingFive">
            <i class="arrow fas fa-chevron-down"></i>
            <div class="icon-box">
              <span class="icon-camera"></span>
            </div>
            <div class="info-box">
              <span class="label label--camera">Camera 5</span>
              <div class="location" id="camera_5">
                <!-- {{cameras[4].ip_address|truncate(25)}} -->
              </div>
            </div>
          </div>
          <div id="cameraFive" class="collapse" aria-labelledby="headingFive">
            <div class="card-body">
              <a class="btn btn-secondary" href="/camera5"> Connect</a>
              <button class="btn btn-dark" data-toggle="modal" data-target="#addCamera5"><i
                  class="fas fa-cog"></i></button>
            </div>
          </div>
        </div>
        <div class="camera-card">
            <div class="nav-icon nav-icon--camera card-header" id="headingFive" data-toggle="collapse"
              data-target="#cameraFive" aria-expanded="false" aria-controls="headingFive">
              <i class="arrow fas fa-chevron-down"></i>
              <div class="icon-box">
                <span class="icon-camera"></span>
              </div>
              <div class="info-box">
                <span class="label label--camera">Camera 5</span>
                <div class="location" id="camera_5">
                  <!-- {{cameras[4].ip_address|truncate(25)}} -->
                </div>
              </div>
            </div>
            <div id="cameraFive" class="collapse" aria-labelledby="headingFive">
              <div class="card-body">
                <a class="btn btn-secondary" href="/camera5"> Connect</a>
                <button class="btn btn-dark" data-toggle="modal" data-target="#addCamera5"><i
                    class="fas fa-cog"></i></button>
              </div>
            </div>
          </div>
          <div class="camera-card">
              <div class="nav-icon nav-icon--camera card-header" id="headingFive" data-toggle="collapse"
                data-target="#cameraFive" aria-expanded="false" aria-controls="headingFive">
                <i class="arrow fas fa-chevron-down"></i>
                <div class="icon-box">
                  <span class="icon-camera"></span>
                </div>
                <div class="info-box">
                  <span class="label label--camera">Camera 5</span>
                  <div class="location" id="camera_5">
                    <!-- {{cameras[4].ip_address|truncate(25)}} -->
                  </div>
                </div>
              </div>
              <div id="cameraFive" class="collapse" aria-labelledby="headingFive">
                <div class="card-body">
                  <a class="btn btn-secondary" href="/camera5"> Connect</a>
                  <button class="btn btn-dark" data-toggle="modal" data-target="#addCamera5"><i
                      class="fas fa-cog"></i></button>
                </div>
              </div>
            </div>
            <div class="camera-card">
                <div class="nav-icon nav-icon--camera card-header" id="headingFive" data-toggle="collapse"
                  data-target="#cameraFive" aria-expanded="false" aria-controls="headingFive">
                  <i class="arrow fas fa-chevron-down"></i>
                  <div class="icon-box">
                    <span class="icon-camera"></span>
                  </div>
                  <div class="info-box">
                    <span class="label label--camera">Camera 5</span>
                    <div class="location" id="camera_5">
                      <!-- {{cameras[4].ip_address|truncate(25)}} -->
                    </div>
                  </div>
                </div>
                <div id="cameraFive" class="collapse" aria-labelledby="headingFive">
                  <div class="card-body">
                    <a class="btn btn-secondary" href="/camera5"> Connect</a>
                    <button class="btn btn-dark" data-toggle="modal" data-target="#addCamera5"><i
                        class="fas fa-cog"></i></button>
                  </div>
                </div>
              </div>
              <div class="camera-card">
                  <div class="nav-icon nav-icon--camera card-header" id="headingFive" data-toggle="collapse"
                    data-target="#cameraFive" aria-expanded="false" aria-controls="headingFive">
                    <i class="arrow fas fa-chevron-down"></i>
                    <div class="icon-box">
                      <span class="icon-camera"></span>
                    </div>
                    <div class="info-box">
                      <span class="label label--camera">Camera 5</span>
                      <div class="location" id="camera_5">
                        <!-- {{cameras[4].ip_address|truncate(25)}} -->
                      </div>
                    </div>
                  </div>
                  <div id="cameraFive" class="collapse" aria-labelledby="headingFive">
                    <div class="card-body">
                      <a class="btn btn-secondary" href="/camera5"> Connect</a>
                      <button class="btn btn-dark" data-toggle="modal" data-target="#addCamera5"><i
                          class="fas fa-cog"></i></button>
                    </div>
                  </div>
                </div>
                <div class="camera-card">
                    <div class="nav-icon nav-icon--camera card-header" id="headingFive" data-toggle="collapse"
                      data-target="#cameraFive" aria-expanded="false" aria-controls="headingFive">
                      <i class="arrow fas fa-chevron-down"></i>
                      <div class="icon-box">
                        <span class="icon-camera"></span>
                      </div>
                      <div class="info-box">
                        <span class="label label--camera">Camera 5</span>
                        <div class="location" id="camera_5">
                          <!-- {{cameras[4].ip_address|truncate(25)}} -->
                        </div>
                      </div>
                    </div>
                    <div id="cameraFive" class="collapse" aria-labelledby="headingFive">
                      <div class="card-body">
                        <a class="btn btn-secondary" href="/camera5"> Connect</a>
                        <button class="btn btn-dark" data-toggle="modal" data-target="#addCamera5"><i
                            class="fas fa-cog"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="camera-card">
                      <div class="nav-icon nav-icon--camera card-header" id="headingFive" data-toggle="collapse"
                        data-target="#cameraFive" aria-expanded="false" aria-controls="headingFive">
                        <i class="arrow fas fa-chevron-down"></i>
                        <div class="icon-box">
                          <span class="icon-camera"></span>
                        </div>
                        <div class="info-box">
                          <span class="label label--camera">Camera 5</span>
                          <div class="location" id="camera_5">
                            <!-- {{cameras[4].ip_address|truncate(25)}} -->
                          </div>
                        </div>
                      </div>
                      <div id="cameraFive" class="collapse" aria-labelledby="headingFive">
                        <div class="card-body">
                          <a class="btn btn-secondary" href="/camera5"> Connect</a>
                          <button class="btn btn-dark" data-toggle="modal" data-target="#addCamera5"><i
                              class="fas fa-cog"></i></button>
                        </div>
                      </div>
                    </div>
                    <div class="camera-card">
                        <div class="nav-icon nav-icon--camera card-header" id="headingFive" data-toggle="collapse"
                          data-target="#cameraFive" aria-expanded="false" aria-controls="headingFive">
                          <i class="arrow fas fa-chevron-down"></i>
                          <div class="icon-box">
                            <span class="icon-camera"></span>
                          </div>
                          <div class="info-box">
                            <span class="label label--camera">Camera 5</span>
                            <div class="location" id="camera_5">
                              <!-- {{cameras[4].ip_address|truncate(25)}} -->
                            </div>
                          </div>
                        </div>
                        <div id="cameraFive" class="collapse" aria-labelledby="headingFive">
                          <div class="card-body">
                            <a class="btn btn-secondary" href="/camera5"> Connect</a>
                            <button class="btn btn-dark" data-toggle="modal" data-target="#addCamera5"><i
                                class="fas fa-cog"></i></button>
                          </div>
                        </div>
                      </div>
                      <div class="camera-card">
                          <div class="nav-icon nav-icon--camera card-header" id="headingFive" data-toggle="collapse"
                            data-target="#cameraFive" aria-expanded="false" aria-controls="headingFive">
                            <i class="arrow fas fa-chevron-down"></i>
                            <div class="icon-box">
                              <span class="icon-camera"></span>
                            </div>
                            <div class="info-box">
                              <span class="label label--camera">Camera 5</span>
                              <div class="location" id="camera_5">
                                <!-- {{cameras[4].ip_address|truncate(25)}} -->
                              </div>
                            </div>
                          </div>
                          <div id="cameraFive" class="collapse" aria-labelledby="headingFive">
                            <div class="card-body">
                              <a class="btn btn-secondary" href="/camera5"> Connect</a>
                              <button class="btn btn-dark" data-toggle="modal" data-target="#addCamera5"><i
                                  class="fas fa-cog"></i></button>
                            </div>
                          </div>
                        </div>
                        
      </div>
