@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Rubik:400,500");
* {
    box-sizing: border-box;
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Custom Icons */

@font-face {
    font-family: 'icomoon';
    src: url("./assets/fonts/icomoon.eot?yz00ds");
    src: url("./assets/fonts/icomoon.eot?yz00ds#iefix") format("embedded-opentype"), url("./assets/fonts/icomoon.ttf?yz00ds") format("truetype"), url("./assets/fonts/icomoon.woff?yz00ds") format("woff"), url("./assets/fonts/icomoon.svg?yz00ds#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-alert:before {
    content: "\71";
    color: #7d87a2;
}

.icon-camera:before {
    content: "\6f";
    color: #7d87a2;
}

.icon-cars:before {
    content: "\77";
    color: #7d87a2;
}

.icon-check:before {
    content: "\70";
}

.icon-clock:before {
    content: "\65";
    color: #62697d;
}

.icon-date:before {
    content: "\62";
    margin-left: -1em;
    color: #62697d;
}

.icon-date:before.path2:before {
    content: "\64";
    margin-left: -1em;
    color: #363b4a;
}

.icon-date:before .path4:before {
    content: "\64";
    margin-left: -1em;
    color: #363b4a;
}

.icon-date:before .path5:before {
    content: "\66";
    margin-left: -1em;
    color: #363b4a;
}

.icon-date:before .path6:before {
    content: "\67";
    margin-left: -1em;
    color: #363b4a;
}

.icon-date:before .path7:before {
    content: "\68";
    margin-left: -1em;
    color: #363b4a;
}

.icon-date:before .path8:before {
    content: "\6a";
    margin-left: -1em;
    color: #363b4a;
}

.icon-date:before .path9:before {
    content: "\6b";
    margin-left: -1em;
    color: #363b4a;
}

.icon-date:before .path10:before {
    content: "\6c";
    margin-left: -1em;
    color: #363b4a;
}

.icon-date:before .path11:before {
    content: "\6d";
    margin-left: -1em;
    color: #363b4a;
}

.icon-date:before .path12:before {
    content: "\6e";
    margin-left: -1em;
    color: #363b4a;
}

.icon-group-signal:before {
    content: "\72";
    color: #5a52ff;
}

.icon-gun:before {
    content: "\73";
    color: #7d87a2;
}

.icon-id:before {
    content: "\74";
    color: #9aa0ac;
}

.icon-logout:before {
    content: "\e914";
    color: #62697d;
}

.icon-minus:before {
    content: "\79";
    color: #9fa6ba;
}

.icon-objects:before {
    content: "\e916";
    color: #7d87a2;
}

.icon-people:before {
    content: "\75";
    color: #7d87a2;
}

.icon-plus:before {
    content: "\e918";
    color: #9fa6ba;
}

.icon-size:before {
    content: "\69";
    color: #7d87a2;
}

.icon-warning:before {
    content: "\e91a";
}

.container {
    max-width: 1360px;
}

.alert {
    border-radius: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    margin-bottom: 0;
}

.alert .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.alert .info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-family: 'Roboto';
    font-size: 18px;
}

.alert .info .alert-text {
    font-weight: 500;
}

.alert .alert-icon {
    font-size: 30px;
    margin-right: 20px;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.alert-danger {
    background: #ff5252 !important;
    border: none;
}

.alert-danger .btn {
    border-radius: 5px;
    background-color: #d93232;
    width: 20%;
    color: #fff;
}

.alert-danger .btn:hover {
    opacity: 0.7;
}

.bg-info {
    background-color: #5a52ff !important;
}

.btn {
    font-weight: 500;
    padding: 10px 0;
    border-radius: 5px;
}

.btn-primary {
    background: #5a52ff;
    border: #5a52ff;
    padding: 11px 0;
    border-radius: 6px;
}

.btn-dark {
    background-color: #7d87a2;
}

.btn-danger {
    color: #fff;
    text-transform: uppercase;
    background-color: #e7493c;
    cursor: pointer;
}

.btn-success {
    color: #fff;
    text-transform: uppercase;
    background-color: #1db39d;
    cursor: pointer;
    border-color: #1db39d;
}

.btn-secondary {
    background-color: #7d87a2;
    color: #444e6a;
    border: none;
}

.btn-secondary:hover {
    background-color: #7d87a2;
}

.btn-secondary.disabled {
    background: #343a50;
}

.btn--status {
    cursor: pointer;
    padding: 5px 25px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    border: none;
}

.btn--feel {
    font-size: 13px;
    color: #fff;
    font-weight: normal;
    transition: all .2s ease-in-out;
    padding-bottom: 15px;
}

.btn--feel:hover {
    opacity: 0.9;
}

.btn--status-card {
    cursor: pointer;
    padding: 11px 20px;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 8px;
    border: none;
    text-transform: uppercase;
    width: 120px;
}

.btn--status-card-v {
    cursor: pointer;
    padding: 11px;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 8px;
    border: none;
    text-transform: uppercase;
    width: 43px;
}

.btn--custom {
    background: #343a50;
}

.form-control {
    padding: 25px 20px;
    background: #343a50;
    border: none;
    margin-bottom: 20px;
    color: #8d96a9;
}

.form-control--login {
    padding-left: 57px;
}

.form-control--popup {
    border: solid 1px #3d4458;
    background: #4b5168;
    border-radius: 8px;
}

.form-control:focus {
    background: #343a50 !important;
    color: #8d96a9;
}

.form-control--popup:focus {
    background: #4b5168 !important;
}

.form-control--popup:-ms-input-placeholder {
    color: #7d87a2 !important;
}

.form-control--popup::placeholder {
    color: #7d87a2 !important;
}

.select {
    height: 52px;
    padding: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: relative;
    cursor: pointer;
}

.select::before {
    content: "\f078";
}

option:hover {
    background-color: #343a50;
}

body {
    line-height: 1.2;
    background: #353b49;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

header {
    border-bottom: 0.0625rem solid #43495a;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* navigation styles =========== */

.navbar {
    border-bottom: 0.125rem solid #1a1e27;
    padding-left: 40px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #2a2e3a !important;
}

.navbar .navbar-nav {
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar .navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    color: white;
}

.navbar .navbar-brand .blue {
    color: #4e93cf;
}

.navbar .nav-link,
.navbar .nav-item {
    color: #8d96a9 !important;
    font-size: 0.75rem;
    letter-spacing: 0.025rem;
}

.nav-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-box--user {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 20px;
}

.nav-box--b {
    border-left: 1px solid #1a1e27;
    border-right: 1px solid #1a1e27;
}

.icon {
    font-size: 1.25rem;
    color: #62697d;
}

.icon--b {
    padding: 22px 30px;
}

.user-img {
    width: 42px;
    height: 42px;
    border: solid 2px #43495a;
    border-radius: 50%;
    margin-right: 15px;
}

.oval {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: solid 1px #1a1e27;
}

.username {
    font-size: 14px;
    color: #8d96a9;
}

.hover:hover {
    background: #2d313e;
}


/* Left Sidebar styles =========== */


/* alert rectangle =========== */

.rectangle {
    background: #454b61;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 #2c313f;
    background-color: #454b61;
    display: -ms-flexbox;
    display: flex;
}

.rectangle--alert {
    padding: 17px 45px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px;
}

.rectangle--table {
    -ms-flex-direction: column;
    flex-direction: column;
}

.circle {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: solid 3px #8d96aa;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.warning {
    font-size: 40px;
    color: #8d96aa;
    font-family: 'Roboto', sans-serif;
}

.status {
    margin-top: 18px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.875rem;
    color: #939aab;
}

.status .red {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 12px;
}

.status .red::before {
    content: "\A";
    width: 7px;
    height: 7px;
    background: #e7493c;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
}

.status .green {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.status .green::before {
    content: "\A";
    width: 7px;
    height: 7px;
    background: #1abba1;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
}


/* screens rectangle =========== */

.rectangle--secreens {
    padding: 13px 10px 20px 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.thumb {
    margin-bottom: 10px;
}

.thumb-table {
    width: 60px;
    height: 60px;
}

.thumb-img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.thumb-car {
    border: solid 1px #7d87a2;
    border-radius: 5px;
    width: 91px;
    height: 88px;
}


/* Middle Column styles =========== */

.middle {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rectangle--middle {
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 18px;
}

.thumb--middle {
    border: 2px solid #454b61;
    margin-bottom: -2px;
    border-bottom: 2px;
    min-height: 410px;
}

.thumb-img--middle {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 410px;
}

.nav-box--middle {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #2c3143;
    background: #3b4156;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-icon {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #7d87a2;
    font-size: 1.625rem;
    padding: 30px 34px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    transition: background .2s ease-in-out;
}

.nav-icon--active {
    background: #343a50;
    border-top: 2px solid #5a52ff;
    color: #fff;
}

.nav-icon--active span::before {
    color: #fff;
}

.nav-icon--active .label {
    margin-top: 3px;
}

.nav-icon:hover {
    background: #343a50;
    border-top: 2px solid #5a52ff;
    color: #fff;
}

.nav-icon:hover span::before {
    color: #fff;
}

.label {
    margin-top: 5px;
    font-size: 0.75rem;
}

.rectangle--camera {
    margin-bottom: 0;
}

.thumb--map {
    margin-bottom: 0;
    position: relative;
}

.thumb-img--map {
    border: solid 1px #454b61;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.nav--camera {
    border-left: 2px solid #33394c;
}

.nav-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav-icon--camera {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: initial;
    justify-content: initial;
    padding: 0;
    width: 100%;
    padding: 12px;
    border-top: none;
}

.nav-icon--camera:hover {
    background: #343a50;
    border-top: none;
    color: auto;
}

.icon-box {
    margin-right: 10px;
}

.icon-camera {
    font-size: 1.3125rem;
}

.info-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 0.75rem;
}

.label--camera {
    margin-bottom: 8px;
}

.location {
    font-size: 0.625rem;
    color: #b1b9cb;
}

.zoom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    bottom: 5px;
    left: 14px;
}

.icon-plus:before,
.icon-minus:before {
    padding-top: 8px;
    display: -ms-flexbox;
    display: flex;
}

.control {
    height: 24px;
    width: 24px;
    background: #62697d;
    border-radius: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 7px;
    font-size: 1.25rem;
    color: #62697d;
}

.control :hover {
    opacity: 0.7;
}

.dot {
    cursor: pointer;
    position: absolute;
}

.dot-1 {
    bottom: 83px;
    left: 40px;
}

.dot-1--camera-4 {
    bottom: 130px;
    left: 104px;
}

.dot-2 {
    right: 101px;
    bottom: 63px;
}

.dot-3 {
    right: 36px;
    bottom: 133px;
}

.dot-4 {
    right: 81px;
    bottom: 191px;
}

.dot-5 {
    left: 158px;
    bottom: 153px;
}

.inner {
    width: 14px;
    height: 14px;
    background-color: #534cf3;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border: 9px solid #1200ff;
    opacity: 1;
}

.inner--red {
    border: 9px solid #ff5252;
}

.core {
    border: 4px solid #bab6ff;
    opacity: 1;
    border-radius: 50%;
}

.core--red {
    border: 4px solid #ffb7b7;
}

.outer {
    width: 47px;
    height: 47px;
    opacity: 0.1;
    background-image: radial-gradient(circle at 50% 50%, #352c9b, #5a52ff);
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0.4;
}

.outer--red {
    background-image: radial-gradient(circle at 50% 50%, #ffffff, #ff0000);
}


/* Right Column styles =========== */

.rectangle--right {
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 25px;
}

.rectangle--person {
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 35px;
}

.padding--right {
    padding: 20px 20px 7px 20px;
}

.padding--right-item {
    padding: 25px 17px;
}

.person-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.thumb-pic {
    width: 60px;
    height: 88px;
    border-radius: 5px;
    border: solid 1px #7d87a2;
}

.id {
    width: 60px;
    height: 23px;
    border: none;
    border-radius: 3px;
    background-color: #3b4156;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.id:focus {
    outline: none;
}

.id:hover {
    opacity: 0.7;
}

.person-details {
    margin-left: 16.5px;
}

.label--person {
    color: #8d96a9;
    margin-bottom: 4px;
}

.detail {
    color: #b1b9cb;
    margin-bottom: 10px;
}

.detail--upper {
    text-transform: uppercase;
}

.detail--popup {
    color: #8d96a9;
    margin-top: 10px;
    margin-bottom: 15px;
}

.detail--incident {
    font-size: 12px;
}

.tab {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: #323846;
    color: #b1b9cb;
}

.tab-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 25px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    width: 100%;
    font-weight: 500;
    font-size: 13px;
}

.tab-item:hover {
    background: #2d313e;
}

.tab-item--active {
    background: #2d313e;
    color: #fff;
}

.tab-item--emotion {
    background: #2d313e;
    color: #fff;
    font-size: 16px;
}

.car-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.tag-cloud {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tag-cloud--items {
    margin-bottom: 40px;
}

.detail--tag {
    margin-right: 8px;
    margin-bottom: 0;
    font-size: 12px;
}

.tag-item {
    background: #7a819a;
    border-radius: 3px;
    padding: 5px 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 7px;
    margin-bottom: 15px;
    cursor: pointer;
}

.tag-item:hover {
    opacity: 0.7;
}

.percentage {
    font-size: 10px;
    padding: 6px;
    background: #5a52ff;
    border-radius: 3px;
    color: #fff;
}

.percentage--red {
    background: #e7493c;
}

.percentage--grey {
    background: #5e677f;
}

.quantity {
    font-size: 10px;
    padding: 5px 8px;
    background: #5e677f;
    border-radius: 3px;
    color: #fff;
    margin-right: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.thumb--left {
    height: 193px;
    margin-bottom: -7px;
}

.thumb--car {
    margin-bottom: 64px;
}

.thumb-img--car {
    transform: scaleX(-1);
}

.car-details {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.license-plate {
    margin-right: 10px;
}

.thumb--plate {
    width: 123px;
    height: 29px;
    border-radius: 3px;
    border: solid 2px #7d87a2;
}

.label--plate {
    margin-bottom: 3px;
    color: #8d96a9;
}

.detail--plate {
    font-size: 12px;
}

.car-status {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
}

.about {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 30px;
    text-transform: uppercase;
    color: #939aab;
    border-top: 1px solid #33394c;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.about:hover {
    opacity: 0.7;
    background: #353b49;
}

.about--card {
    border: none;
}

.rectangle--items {
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 20px;
}

.item-box {
    border: solid 1px #2c3143;
    background-color: #34394b;
    border-radius: 6px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.item-box--incident {
    width: 100%;
    height: 325px;
}

.item-box--large {
    width: 100%;
    height: 355px;
    padding: 0 40px;
}

.item-box--medium {
    width: 100%;
    height: 200px;
    padding: 0 40px;
    margin-top: 6px;
}

.item-box--small {
    width: 80px;
    height: 50px;
    padding: 25px;
    border: none;
    margin-right: 10px;
}

.item-box--small-car {
    width: 91px;
    height: 88px;
    border: none;
    padding: 10px;
}

.rectangle--caution {
    background-color: #ff5252;
    padding: 25px 17px 25px 17px;
    margin-bottom: 30px;
}

.rectangle--grey {
    background-color: #2c3241;
    padding: 25px 17px 25px 17px;
    margin-bottom: 30px;
}

.item-box--red {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 7px 15px 0 rgba(255, 82, 82, 0.26);
    background-color: #e83d3d;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 18px;
}

.item-box--grey {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #7d87a2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 18px;
    font-size: 20px;
}

.fa-bomb {
    color: #ffb7b7;
    font-size: 20px;
}

.caution {
    color: #fff;
}

.caution--grey {
    color: #7d87a2;
}

.caution__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 7px;
}

.caution__text {
    font-size: 14px;
}

.tag-cloud--guns {
    margin-bottom: 95px;
}

.guns-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.guns-row {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 14px;
}

.person-info--align {
    -ms-flex-align: start;
    align-items: flex-start;
}

.person-id--top {
    margin-top: 5px;
}


/* people and vehicles page styles =========== */

.rectangle--cards {
    padding: 20px;
}

.person-card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 24px;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid #33394c;
}

.person-card:nth-child(even) {
    border-left: 1px solid #33394c;
}

.person-id--card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.person-id--card-v {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: normal;
    justify-content: normal;
}

.person-pics {
    display: -ms-flexbox;
    display: flex;
}

.person-status {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 15px;
}

.detail--card {
    font-size: 12px;
}

.card-details {
    display: -ms-flexbox;
    display: flex;
    margin-top: 8px;
    -ms-flex-align: center;
    align-items: center;
}

.label-box {
    margin-right: 10px;
}

.label--person--card {
    color: #8d96a9;
    margin-bottom: 10px;
    margin-top: 0px;
}

.people-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.rectangle--desc {
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 200px;
}

.rectangle-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background: #3b4156;
    padding: 20px 20px;
    color: #9aa0ac;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 500;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.rectangle-body {
    padding: 20px 20px 5px 20px;
    color: #b1b9cb;
    letter-spacing: 0.4px;
    font-size: 13px;
}

.rectangle-body .icon {
    color: #b1b9cb;
    font-size: 25px;
}

.rectangle-body--alert {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rectangle-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.rectangle--form {
    -ms-flex-direction: column;
    flex-direction: column;
}

.thumb-user {
    width: 140px;
    height: 100px;
    border-radius: 5px;
    margin-right: 20px;
}

.rectangle-header--form {
    padding: 25px;
}

.rectangle-body--form {
    padding: 25px;
    display: -ms-flexbox;
    display: flex;
}

.rectangle-body--form-b {
    padding: 0px;
    display: -ms-flexbox;
    display: flex;
}

.br {
    border-right: solid 1px #3c4256;
}

.form {
    padding: 30px 15px;
}

.form-group {
    position: relative;
}

.form-group .fa-chevron-down {
    position: absolute;
    color: #7d87a2;
    font-size: 15px;
    bottom: 16px;
    right: 18px;
}

.button-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.button-group .btn {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 0;
    text-transform: capitalize;
}

.add {
    height: 51px;
    width: 51px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
}

.form-box {
    height: 400px;
}

.login {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.icon-blue {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: #5a52ff;
    border-radius: 5px;
    box-shadow: 2px 0 10px 0 rgba(90, 82, 255, 0.25);
    padding: 0 17px;
}

.form {
    position: relative;
}

.envelope {
    position: absolute;
    top: 40px;
    left: 25px;
}

.lock {
    position: absolute;
    top: 111px;
    left: 25px;
}

.login-padding {
    padding: 100px 0;
}

.thumb--weapon {
    width: 125px;
}

.container-max-width {
    max-width: 960px;
}

.infobox {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #8d96a9;
}

.infobox-icon {
    font-size: 70px;
    margin-top: 60px;
}

.info-paragraph {
    margin-top: 20px;
    margin-bottom: 146px;
    color: #8d96a9;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 1.33;
    text-align: center;
    padding: 0 22px;
}

.thumb--middle-widget {
    background: #34394b;
    margin-bottom: 2px;
    width: 100%;
    height: 480px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.data-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 25px 17px;
    color: #7d87a2;
    border-bottom: 1px solid #33394c;
}

.data-info {
    font-size: 14px;
    margin-left: 10px;
}

.highlight {
    color: #1db39d;
    margin-left: 5px;
}

.label--data {
    color: #8d96a9;
    margin-bottom: 15px;
}

.feel-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    letter-spacing: 0.4px;
    max-height: 460px;
}

.scroll {
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    right: -14px;
}

.scroll-table {
    overflow: scroll;
    overflow-x: hidden;
    padding-left: 0px;
    position: relative;
    right: 2px;
}

.scroll::-webkit-scrollbar {
    width: 5px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #343a50;
    border-radius: 2px;
}

.scroll::-webkit-scrollbar-track {
    background: #454b61;
}

.progress {
    height: 3px;
    background: #3b4153;
    margin-bottom: 15px;
}

.feel {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #7d87a2;
    font-size: 12px;
    margin-bottom: 10px;
}

.rectangle--popup {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.popup-success {
    width: 312px;
}

.popup-header {
    padding: 15px 30px 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #7d87a2;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 100%;
    border-bottom: 1px solid #33394c;
}

.popup-header .fas {
    font-size: 20px;
}

.popup-header .fa-times {
    font-size: 30px;
    cursor: pointer;
}

.popup-title-box {
    display: -ms-flexbox;
    display: flex;
}

.widget-header {
    background-color: #3b4156;
    font-weight: 500;
    letter-spacing: 0.5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
}

.popup-title {
    margin-left: 10px;
    font-size: 16px;
}

.popup-body {
    padding: 15px 30px 8px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.popup-body--incident {
    padding: 0px 30px 0px;
}

.popup-body--success {
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    color: #7d87a2;
}

.add-camera {
    display: -ms-flexbox;
    display: flex;
}

.add-camera .fa-plus {
    font-size: 19px;
}

.video-box {
    font-size: 55px;
    position: relative;
    margin: 15px 0;
}

.video-box .fa-check {
    font-size: 16px;
    color: #454b61;
    position: absolute;
    right: 129px;
    bottom: 27px;
}

.files input {
    padding: 45px 0;
    border-radius: 8px;
    background-color: #3c4256;
    opacity: 0;
}

.filebox {
    border-radius: 8px;
    background-color: #3c4256;
    position: relative;
}

.file-info {
    display: -ms-flexbox;
    display: flex;
    color: #7d87a2;
}

.file-info .fa-upload {
    font-size: 30px;
    margin-right: 20px;
    position: absolute;
    position: absolute;
    bottom: 33px;
    left: 55px;
}

.file-info .filename {
    line-height: 1.33;
    font-size: 14px;
    color: #7d87a2;
    padding: 0 35px;
    position: absolute;
    bottom: 29px;
    left: 69px;
}

.table-container {
    height: 10em;
}

table {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

table thead {
    /* head takes the height it requires,
    and it's not scaled when table is resized */
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
    width: 100%;
}

table tbody {
    /* body takes all the remaining available space */
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

table thead,
table tbody tr {
    display: table;
}

.table {
    margin-bottom: 0 !important;
}

.table-header {
    background: #3b4156;
    padding: 20px 15px;
    border-radius: 5px;
}

.table-two .table-header {
    padding: 20px 15px 20px 34px;
}

.table-desc {
    font-family: 'Rubik', sans-serif;
    color: #9aa0ac;
    font-weight: 500;
}

.thead-dark th {
    background: #343a50 !important;
    color: #7d87a2 !important;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    border: none;
    padding: 20px 15px;
    text-align: center;
}

.table-two .thead-dark th {
    background: #343a50 !important;
    color: #7d87a2 !important;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    border: none;
    padding: 20px 15px;
    text-align: center;
    min-width: 201px;
}

.table thead th {
    border-bottom: none !important;
}

table td {
    vertical-align: middle !important;
    color: #b1b9cb;
    border-top: 1px solid #353b49 !important;
    width: 11%;
}

.table-two td {
    vertical-align: middle !important;
    color: #b1b9cb;
    border-top: 1px solid #353b49 !important;
    width: 201px;
    padding: 8px;
}

.table-footer {
    padding: 20px 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-top: 1px solid #353b49;
}

.table-footer .btn {
    width: 24%;
}

.modal-btn {
    display: -ms-flexbox;
    display: flex;
    border-radius: 5px;
    background-color: #232732;
    padding: 5px 8px;
    cursor: pointer;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 15px;
}

.modal-btn .aqua {
    background: #1db39d;
}

.modal-btn .mod {
    width: 25px;
    height: 25px;
}

.modal-btn .icon-blue {
    padding: 0 10px;
    margin-right: 5px;
}

.modal-btn .icon-blue .icon-cars:before {
    color: white;
}

.modal-btn .icon-plus {
    font-size: 20px;
    color: #62697d;
}

.modal {
    margin-top: 20px;
}

.camera-card {
    transition: all .1s ease-in-out;
}

.camera-card:hover {
    border-left: 2px solid #ff5252;
}

.camera-card.active {
    border-left: 2px solid #ff5252;
    background: #343a50;
}

.camera-card.active .nav-icon,
.camera-card.active span::before {
    color: #fff;
}

.camera-card .card-header {
    position: relative;
}

.camera-card .card-header .arrow {
    position: absolute;
    color: #7d87a2;
    font-size: 14px;
    right: 22px;
    bottom: 19px;
}

.camera-card .card-body {
    display: -ms-flexbox;
    display: flex;
    padding: 12px 16px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.camera-card .card-body .btn-secondary {
    background-color: #7d87a2;
    padding: 9px 2px;
    width: 75%;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #444e6a;
}

.camera-card .card-body .btn-secondary:hover {
    color: #fff;
}

.camera-card .card-body .btn-dark {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #292f45;
    color: #7d87a2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
}

.camera-card .card-body .btn-dark:hover {
    border: 1px solid #292f45;
    color: #fff;
}


/************************NEW LAYOUT *****************************/

.camera-box {
    border: solid 1px #2c3143;
    background-color: #34394b;
    /* -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-color: #454b61;
}

.rectangle--camera {
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 25px;
}

.camera-box-footer {
    display: -ms-flexbox;
    display: flex;
    padding: 4px;
    color: #7d87a2;
    -ms-flex-align: center;
    align-items: center;
}

.camera-box-icon {
    font-size: 1.375rem;
    margin-right: 10px;
}

.camera-box-title {
    font-size: 0.8125rem;
}

.tab-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: #3b4156;
    color: #7d87a2;
    border-bottom: 1.5px solid #2c3143;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.tab-header-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all .2s ease-in-out;
    cursor: pointer;
    width: 100%;
    padding: 20px;
}

.tab-header-item:hover {
    background: #363c50;
}

.tab-header-item.active {
    background: #363c50;
}

.pd {
    padding: 15px;
}

.tab-br {
    border-right: solid 3px #33394c;
}

.option-box {
    padding: 9px 12px;
    border-top: 1.5px solid #33394c;
}

.option-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0 15px;
}

.switch-material.switch-light {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.switch-light.switch-material a {
    width: 17.5px;
    height: 17.5px;
    top: 0px;
    /*width: 20px;
  height: 20px;
  top: 1px;*/
    background: #7d87a2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 10px;
    color: #565f79;
}

.switch-material.switch-light>span {
    width: 39px;
    height: 20px;
    margin-right: 10px;
    background: #3c4257;
    border: 1px solid #2c3143;
}

.switch-light strong {
    margin-top: 6px;
    font-size: 0.75rem;
    color: #7d87a2;
}

.nav-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px;
    max-height: 362px;
    position: relative;
}

.more {
    position: fixed;
    bottom: 13px;
    right: 91px;
    color: 33394c;
    font-size: 1.25rem;
}

.nav-list-item {
    display: -ms-flexbox;
    display: flex;
    background: #7a819a;
    padding: 5px 8px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px;
    margin-bottom: 10px;
}

.nav-list-item .detail {
    margin: 0;
    font-size: 0.875rem;
    color: #c1c9da;
}

.scroll-camera {
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
}

.scroll-camera::-webkit-scrollbar {
    width: 5px;
}

.scroll-camera::-webkit-scrollbar-thumb {
    background: #545a71;
    border-radius: 2px;
}

.scroll-camera::-webkit-scrollbar-track {
    background: #303643;
}

.left-sidebar {
    max-height: 920px;
}

.scroll-sidebar {
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    right: -14px;
}

.scroll-sidebar::-webkit-scrollbar {
    width: 6px;
    padding: 2px;
    border: 1px solid #282e3a;
}

.scroll-sidebar::-webkit-scrollbar-thumb {
    background: #545a71;
    border-radius: 2px;
}

.scroll-sidebar::-webkit-scrollbar-track {
    background: #303643;
    width: 10px;
}

.thumb-img--map {
    border-radius: 5px;
    width: 100%;
    height: 86%;
}

.footer {
    background: #2a2e3a;
    padding: 12px 20px;
    border-top: 1px solid #43495a;
}

.popup-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    border-radius: 6px;
    padding: 7px 10px;
    cursor: pointer;
    margin-right: 15px;
    background: #5a52ff;
    transition: all .2s ease-in-out;
}

.popup-btn:hover {
    opacity: 0.8;
}

.popup-btn.aqua {
    background: #1db39d;
}

.popup-btn-icon {
    margin-right: 15px;
    padding: 5px;
    border-radius: 4px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: #4a42e8;
    color: white;
}

.popup-btn-icon .icon-cars::before {
    color: white !important;
}

.popup-btn-icon.aqua {
    background: #129582;
}

.content {
    border-bottom: 1px solid #1a1e27;
}
