  <div class="main-wrapper container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 mr-3">
          <div class="user-box">
            <div class="rectangle rectangle--form">
              <div class="rectangle-header rectangle-header--form">
                Profile
              </div>
              <div class="rectangle-body rectangle-body--form">
                <div class="thumb-user">
                  <img class="img-fluid thumb-img" src="img/user.jpg" alt="User picture">
                </div>
                <div class="button-group w-100">
                  <button class="btn btn-secondary">Upload New</button>
                  <button class="btn btn-danger">Delete Photo</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
